/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

header {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 28px;
  background-color: #142d3a;
  border-bottom: 2px groove #142d3a;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 1px 1px 8px rgb(82, 81, 81);
  box-shadow: 1px 1px 8px rgb(82, 81, 81);
  -webkit-box-shadow: inset 1px 1px 8px rgb(82, 81, 81);
  box-shadow: inset 1px 1px 8px rgb(82, 81, 81);
}

body {
  margin: 125px auto 74px;
  background-color: #1c4153;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 22px;
}

footer {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  color: #f6f5f2;
  background-color: #142d3a;
  border-top: 2px groove #142d3a;
  -webkit-box-shadow: inset 1px 1px 8px rgb(82, 81, 81);
  box-shadow: inset 1px 1px 8px rgb(82, 81, 81);
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

a {
  color: #f6f5f2;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-shadow: 0 0 8px rgba(247, 245, 245, 0.4);
  cursor: pointer;
  opacity: 0.8;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  background-color: #f6f5f2;
  color: #142d3a;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  background-color: #f6f5f2;
  color: #142d3a;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
.button:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.4);
  box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.4);
}

.profile__portrait {
  float: left;
  width: 350px;
  margin-right: 5px;
  margin-top: 20px;
}

.nav-brand {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  float: left;
  width: 60px;
  margin-right: 40px;
  border-radius: 50%;
}

.footer-fix {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.profile {
  color: #f6f5f2;
  max-width: 800px;
  margin: auto;
  /* font-size: 20px; */
}

.content {
  margin: auto;
  text-align: center;
  max-width: 98%;
  margin-bottom: 10px;
  color: #f6f5f2;
}

.about-bg {
  background-image: url("/portfolio-website/img/hometown.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 8px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
  margin: auto;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  padding-right: 20px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.grid-about > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 15px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.grid__item {
  background-color: rgba(28, 65, 83, 0.8);
  padding: 10px;
  text-align: left;
}

.about-portrait {
  float: left;
  width: 150px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 100%;
}

.about-text {
  font-size: 20px;
  margin: 10;
}

.bar {
  height: 40px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 22px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}

.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 40px;
  top: 0;
  z-index: -2;
  background: #778485;
}

.bar::after {
  content: "";
  background: white;
  height: 40px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.bar1::after {
  max-width: 90%;
}

.bar2::after {
  max-width: 80%;
}

.bar3::after {
  max-width: 60%;
}

.bar4::after {
  max-width: 50%;
}

.bar5::after {
  max-width: 70%;
}

.card {
  max-width: 355px;
  border: 1px solid #778485;
  border-radius: 10px;
  margin: auto;
  background-color: #142d3a;
  padding: 1px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.4);
  box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.4);
}

.card-img {
  background-size: cover;
  min-height: 150px;
  background-position: center;
}

.card-content {
  color: #f6f5f2;
  padding: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
}

.language-logo {
  margin: auto;
  max-width: 75px;
  width: 100%;
  height: auto;
  max-height: 75px;
}

.language-logos-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.hometown-photo {
  margin: auto;
  max-width: 700px;
  width: 100%;
  height: auto;
}

.form-container {
  max-width: 400px;
  border: 1px solid #778485;
  border-radius: 8px;
  margin: auto;
  background-color: #142d3a;
  padding: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: #f6f5f2;
}

.form-contents {
  width: 96%;
  text-align: left;
  margin: auto;
}

.form-inputs {
  width: 100%;
  border: 1px solid #778485;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  height: 30px;
  margin: auto;
}

.form-message {
  width: 100%;
  height: 100px;
  margin: auto;
}

.form-labels {
  width: 100%;
  margin: auto;
  font-size: 18px;
}

.form-footer {
  width: 96%;
  text-align: right;
  margin: auto;
}

.message-alert {
  font-size: 18px;
  float: left;
}

.contact-links {
  margin: auto;
  width: 700px;
}

.contact-links-item {
  vertical-align: middle;
  display: inline;
  margin: 2%;
}

.text-animation {
  -webkit-animation: type 5s steps(42);
  animation: type 5s steps(42);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #f6f5f2;
  width: 42ch;
  font-size: 30px;
  margin-top: -15px;
}

@-webkit-keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 42ch;
  }
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 42ch;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-about {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 24px;
  }

  body {
    margin: 125px auto 74px;
  }

  .profile__portrait {
    width: 125px;
  }

  .about-text {
    font-size: 16px;
  }
}

@media all and (min-width: 500px) and (max-width: 800px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-about {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 800px) {
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .table {
    text-align: center;
  }

  .thead {
    background-color: #778485;
  }

  .grid__item {
    width: 90%;
    margin: auto;
  }
}
